{% extends "layout.html" %}
{% block content %}

	<div class="content-section">
		<h1>Gateway Time-out (504)</h1>
        <p>If you were updating or building a report. Hit the button, don't update and just download. The file is probably ready for download. Check timestamp to verify.</p>
        <p>Probably nginx timeout.</p>
		<!--<p>We are experiencing some trouble on our end. Please try again.</p>
		<p>If you think this is an operation that should work. Submit a ticket with a screenshot of previous screen</p>
		<a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">submit ticket</a>-->
		
	</div>

{% endblock content %}