{% extends "layout.html" %}
{% block title %} Reports {% endblock %}
{% block main %}
<section class="home">
    <div class="container">
        <div class="home_label">
            <h4>Reports</h4><br/>
        </div>
        <div class="select_page">
            <a href="{{ url_for('main.investigation_categories') }}">Download Investigations Categories Report</a>
            <br/>
            <a href="{{ url_for('main.files_zip') }}">Download Investigation Files</a>
        </div>
    </div>
</section>


{% endblock %}